body {
  background-color: rgb( 39, 39, 79);
}
.diamond {
  margin:100px;
  height: 200px;
  width: 200px;
  position: relative;
  transform: rotate(45deg);
}
.diamond span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width:0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 50px solid #20bc7d;
  border-bottom: 50px solid #26c893;
  border-left: 50px solid transparent;
}
.diamond span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 50%;
  width:0;
  height: 0;
border-top: 50px solid #1fb67c;
  border-right: 50px solid #20bc7d;
  border-bottom: 50px solid #26c893;
  border-left: 50px solid #55ddb9;
}
.diamond span:nth-child(3) {
  position: absolute;
  top: 50%;
  left: 0;
  width:0;
  height: 0;
border-top: 50px solid #1fb67c;
  border-right: 50px solid #20bc7d;
  border-bottom: 50px solid #26c893;
  border-left: 50px solid #55ddb9;

}
.diamond span:nth-child(4) {
  position: absolute;
  top: 50%;
  left: 50%;
  width:0;
  height: 0;
border-top: 50px solid #1fb67c;
  border-right: 50px solid #20bc7d;
  border-bottom: 50px solid #26c893;
  border-left: 50px solid #55ddb9;

} 
